<header>
<div id="home">
<div class="header-content">
<div class="sub-header">
<nav>
<div class="nav-wrapper">
<a href="#" class="brand-logo">Mujtaba Dar</a>

<ul class="right hide-on-med-and-down">
<li><a routerLink="/home"  routerLinkActive="router-link-active">Home</a></li>
<li><a  routerLink="/about" routerLinkActive="router-link-active">About</a></li>
<li><a routerLink="/" routerLinkActive="router-link-active">Services</a></li>
<li><a routerLink="/portfolio" routerLinkActive="router-link-active">Portfolio</a></li>
<li><a routerLink="/" routerLinkActive="router-link-active">Contact Us</a></li>
</ul>
<a  data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"><i class="fa-solid fa-bars"></i></i></a>
</div>
</nav>
<ul class="sidenav" id="mobile-demo">
<li><a routerLink="/home" routerLinkActive="router-link-active">Home</a></li>
<li><a routerLink="/about" routerLinkActive="router-link-active">About</a></li>
<li><a routerLink="/" routerLinkActive="router-link-active">Services</a></li>
<li><a routerLink="/portfolio" routerLinkActive="router-link-active">Portfolio</a></li>
<li><a routerLink="/" routerLinkActive="router-link-active">Contact Us</a></li>
</ul>
</div>
</div>
</div>
</header>
