<section class="details">
<div class="details-container">
<div class="det">
<h1>100+</h1>
<p>Projects Completed</p>
</div>
<div class="det">
<h1>200+</h1>
<p>Products Sold</p>
</div>
<div class="det">
<h1>10+</h1>
<p>Awards Received</p>
</div>
<div class="det">
<h1>50+</h1>
<p>Happy Clients</p>
</div>
</div>
</section>
<section id="contact">
<div class="footer-container">
<div class="footer-top">
<div class="footer-data">
<h1>Lets Work Together</h1>
<p>I’m available for freelance work.Have any projects in your mind? Just feel free to contact me</p>
<a href="">Contact Me</a>
</div>
</div>
<div class="footer-botom">
<div class="footer-text">
<p>© 2024 Mujtaba Dar. All Rights Reserved by Mujtaba Dar</p> 
</div>
<div class="footer-icons">
<ul class="link">
<li class="link-item">
<a href="">
<i class="fa-brands fa-facebook-f"></i>
</a>
</li>
<li class="link-item">
<a href="">
<i class="fa-brands fa-twitter"></i>
</a>
</li>
<li class="link-item">
<a href="">
<i class="fa-brands fa-youtube"></i>
</a>
</li>
<li class="link-item">
<a href="">
<i class="fa-brands fa-pinterest"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
</section>