<section id="about-me">
        <div class="container">
            <div class="inner-content">
                <div class="section-header">About Me</div>
            
            <div class="personal-info">
                <div class="description">
                <p>Hi! Myself Mujtaba Dar.I am a professional Front End developer with more than 2 years of experience. My expertise are in HTML , CSS , JAVASCRIPT , REACT JS AND BOOTSRAP. I have completed many projects and have a great knowledge about that. High attention to detail and being punctual are my specialty.</p>
                <p>I always focus on building long-term relationships with all my clients by delivering the work as requested at a competitive price. So you will never feel any worry working with me.</p> 
                <div class="buttons">
                    <div class="btn-1">
                        <a href="">Hire Me</a>
                    </div>
                    <div class="btn-2">
                        <a href="https://dl.dropboxusercontent.com/scl/fi/jcjx5a5l42wb62v8xjfwx/Resume.pdf?rlkey=946frrhguhz33965ej5bp5tf4&st=9oerkaxi&dl=0" id="button1">Download My CV</a> 
                    </div>
                </div>
                </div>
                <div class="skill-chart">
                        <ul class="skill-chart-list">
                            <li>
                            <div class="skill-title">HTML</div>
                            <span class="skill ninety-percent"></span>
                            </li>
                            <li>
                            <div class="skill-title">CSS</div>
                            <span class="skill eighty-percent"></span>
                            </li>
                            <li>
                            <div class="skill-title">JAVASCRIPT</div>
                            <span class="skill seventy-percent"></span>
                            </li>
                            <li>
                            <div class="skill-title">REACT</div>
                            <span class="skill sixty-percent"></span>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    </section>