/* #about-me{
    border: 1px solid black;
} */
.container {
    max-width: 1280px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 180px;
    padding-top: 100px;
}
/* .inner-content {
} */
.section-header{
font-size: 50px;
font-family: "Schibsted Grotesk", sans-serif;
margin-bottom: 40px;
}
.section-header::first-letter{
    font-size: 90px;
}
.personal-info{
display: flex;
justify-content: space-between;
}
.description{
width: 50%;
margin-right: 120px;
}
.description p{
font-size: 20px;
font-family: "Schibsted Grotesk", sans-serif;
line-height: 2.2rem;
letter-spacing: 1px;
margin-bottom: 15px;
text-transform: capitalize;
}
.skill-chart{
    width: 50%;
}
.skill-chart li {
    border-bottom: 4px solid #eaeaea;
    margin-bottom: 30px;
    width: 100%;
    list-style: none;
}
.skill-title{
font-size: 18px;
font-family: "Schibsted Grotesk", sans-serif;
}
.skill-chart li span.skill {
    display: block;
    border-bottom: 4px solid #fba820;
    padding-bottom: 50px;
    margin-bottom: -4px;
}
  .skill-chart li span.sixty-percent {
    width: 60%; 
  }
  .skill-chart li span.seventy-percent {
    width: 70%; 
  }
  .skill-chart li span.eighty-percent {
    width: 80%; 
  }
  .skill-chart li span.ninety-percent {
    width: 90%;
  }
  /* Fixing Buttons */
  .buttons{
      display: flex;
      margin-top: 40px;
  }
  .btn-1{
      text-transform: uppercase;
      margin-right: 20px;
      margin-bottom: 20px;
      border: 1px solid black;
      padding: 20px 30px;
      background-color: gray;
  }
  .btn-1 a {
    text-decoration: none;
    color: white;
  }
  .btn-1:hover{
      cursor: pointer;
      background-color: #fba820;
  }
  .btn-2{
    text-transform: uppercase;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 20px 30px;
}
.btn-2 a {
  text-decoration: none;
  color: black;
}
.btn-2:hover{
    cursor: pointer;
    background-color: gray;
}