<section class="hero">
<div class="main-billboard">
<div class="sub-billboard">
<div class="main-title-board">
<div class="sub-title-board">
<h1>Hello, I'm <span class="colored">Mujtaba Sohail Dar</span> </h1>
<p>Website Developer. I love to provide quality work</p>
</div>
</div>
<div class="main-button">
<div class="sub-button">
<a href="">Get In Touch</a>
</div>
</div>
<div class="main-links">
<div class="sub-links">
<ul class="links">
<li class="link-items">
<a href="">
<i class="fa-brands fa-facebook-f"></i>
</a>
</li>
<li class="link-items">
<a href="">
<i class="fa-brands fa-twitter"></i>
</a>
</li>
<li class="link-items">
<a href="">
<i class="fa-brands fa-youtube"></i>
</a>
</li>
<li class="link-items">
<a href="">
<i class="fa-brands fa-pinterest"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="profile-image">
<img src="https://dl.dropboxusercontent.com/scl/fi/gygp9fnang85zza5pzygz/profile-pic.jpeg?rlkey=rc8twl1e68wt6zx0p32iqxn9m&st=bvc461c1&dl=0" alt="">
</div>
</div>
</section>
