<section id="portfolio">
        <div class="sub-portfolio">
            <div class="portfolio-content">
                <div class="portfolio-header">
                    <h1>Portfolio</h1>
                    <p>Here are some Projects that i have made.</p>
                    <ul class="items">
                        <li class="portfolio-topic">All</li>
                        <li class="portfolio-topic">Shopping</li>
                        <li class="portfolio-topic">Grocery App</li>
                        <li class="portfolio-topic">Levis Clone</li>
                        <li class="portfolio-topic">Perfume Shop</li>
                    </ul>
                </div>
                <div class="main-container">
                <div class="container">
                    <div class="slider-wrapper">
                      <button id="prev-slide" class="slide-button material-symbols-rounded">
                        <
                      </button>
                      <ul class="image-list">
                        <img class="image-item" src="https://dl.dropboxusercontent.com/scl/fi/5pf20nf1m7j3fu0alm960/WEB-PAGE.jpeg?rlkey=csv4k57eomkbj8ju4cm8509ow&st=cs50mbwk&dl=0" alt="img-1" />
                        <img class="image-item" src="https://dl.dropboxusercontent.com/scl/fi/28p5rapthnn0yntlpzuv7/project-image-perfume.jpeg?rlkey=pqyexvfv80vb18rw3quykrvd3&st=ufoa8b89&dl=0" alt="img-2" />
                        <img class="image-item" src="https://dl.dropboxusercontent.com/scl/fi/5pf20nf1m7j3fu0alm960/WEB-PAGE.jpeg?rlkey=csv4k57eomkbj8ju4cm8509ow&st=cs50mbwk&dl=0" alt="img-3" />
                        <img class="image-item" src="https://dl.dropboxusercontent.com/scl/fi/y8qovgzjgh5fuer49ezke/project-image.jpeg?rlkey=ckn8hzu3cowmida6lmp7ocufl&st=pjg5v8m2&dl=0" alt="img-4" />
                        <img class="image-item" src="https://dl.dropboxusercontent.com/scl/fi/17k9vunjytf5w78duz4le/project-image1.jpeg?rlkey=waqum34q7pfyek5amv37tqf07&st=inu6glvx&dl=0" alt="img-5" />
                        <img class="image-item" src="https://dl.dropboxusercontent.com/scl/fi/vv3l88v29thk7pc84ysma/grocery-img.jpg?rlkey=tujosxe9nc2w6fxdfq5py8nfr&st=7uzhew89&dl=0" alt="img-6" />
                        <img class="image-item" src="https://dl.dropboxusercontent.com/scl/fi/vv3l88v29thk7pc84ysma/grocery-img.jpg?rlkey=tujosxe9nc2w6fxdfq5py8nfr&st=7uzhew89&dl=0" alt="img-7" />
                        <img class="image-item" src="https://dl.dropboxusercontent.com/scl/fi/28p5rapthnn0yntlpzuv7/project-image-perfume.jpeg?rlkey=pqyexvfv80vb18rw3quykrvd3&st=ufoa8b89&dl=0" alt="img-8" />
                        <img class="image-item" src="https://dl.dropboxusercontent.com/scl/fi/y8qovgzjgh5fuer49ezke/project-image.jpeg?rlkey=ckn8hzu3cowmida6lmp7ocufl&st=pjg5v8m2&dl=0" alt="img-9" />
                        <img class="image-item" src="https://dl.dropboxusercontent.com/scl/fi/17k9vunjytf5w78duz4le/project-image1.jpeg?rlkey=waqum34q7pfyek5amv37tqf07&st=inu6glvx&dl=0" alt="img-10" />
                      </ul>
                      <button id="next-slide" class="slide-button material-symbols-rounded">
                        >
                      </button>
                    </div>
                    <div class="slider-scrollbar">
                      <div class="scrollbar-track">
                        <div class="scrollbar-thumb"></div>
                      </div>
                    </div>
                  </div>
                </div>
            <div class="portfolio-button">
                    <div class="portfolio-btn">
                    <a class="p-btn" href="#home" data-effect="#home"> 
                            View Portfolio
                        </a>
                    </div>
                    </div>
                </div>
            </div>
    </section>