body{
  background-color: #0d1224;
  color: #ffffff;
  scroll-behavior: smooth;
}
.text-white {
--tw-text-opacity: 1;
color: rgb(255 255 255/var(--tw-text-opacity));
}

/* Contact me button */
 /* Start  */
.buttons button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
 }
 
 .buttons button:active,
 button:hover {
  outline: 0;
 }
 
 .buttons button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 .buttons button:hover span {
  background: none;
 }
 
 .buttons button:active {
  transform: scale(0.9);
 }

 /* end  */

.personal-info{grid-template-columns: repeat(2,minmax(0,2fr));}

/* CARD  css */

/* Start */
/* From Uiverse.io by Yaya12085 */ 
.card {
  max-width: 350px;
  background-color: rgb(7 16 45);
  background: linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
  background: -webkit-linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(84 90 106);
}
/* End */

/* Button in Projects */


.project>.card-body> .button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  margin-top: 10px;
}
.project>.card-body> .button a:hover {
color: white;
}
.project>.card-body> button > .icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.project>.card-body> .button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.project>.card-body> .button:hover .icon {
  transform: translate(4px);
}

.project>.card-body>  .button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.project>.card-body> .button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* Making auto slider */

/* start */
.skills{
position: relative;
animation: 15s slide infinite linear ;
}
/* .skills::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 200px;
height: 100%;
background-color: #0d1224;
z-index: 2;
}
.skills::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #0d1224;
  z-index: 2;
  }  */
.skills>.group{
}
.skills:hover{
animation-play-state: paused;
}
@keyframes slide {
from{
transform: translateX(0%)
}
to{
transform: translateX(-100%)
}
} 
/* End */

.project > img{
width: 300px;
height: 170px;
flex-grow: 1;
flex-shrink: 0;
flex-wrap: wrap
}
#mybutton{
display: none;
}

/* Making Slider  */

/* Start */



 .wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 180px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wrapper:hover .item{
animation-play-state: paused;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

/* End  */