header{
    position: fixed;
    top: 0;
    left: 0 ;
    right: 0;
    z-index: 1;
    background-color: #3e3e3e;
}
@media screen and (max-width: 900px) {
    nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-close {
      display: block;
    }
    nav a.button-collapse {
      display: none;
    }
    .brand-logo::after{
        content: "'s Portfolio";
    }
    .personal-info{
        display:flex;
        flex-direction: column;
    }
    .description{
        width: 100%;
    }
    .skill-chart{
        width: 100%;
    }
    .flex-container{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       gap: 30px;
    }
    .services-header {
        text-align: left;
    }
    .data{
        width: 100%;
        flex-wrap: wrap;
    }
    .data .info>p{
        text-align: left;
    }
    .portfolio-header ul.items{
        display: none;
    }
    .portfolio-header p{
        font-size:25px;
        text-align: left;
        padding-left: 10px;
    }
    .portfolio-button .p-btn{
       left: 20%;
    }
    .details-container{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .det{
        border-top: 2px solid#fba820;
    }
    .det p{
        padding-bottom: 10px;
        padding-top: 0px;
        text-align: center;
    }
    .footer-data h1{
        font-size: 40px;
    }
    .footer-botom{
        display: flex;
        flex-direction: column;
    }
    .footer-botom .footer-text{
        padding: 0px 30px;
    }
    .profile-image img{
        position: absolute;
        top: 10%;
        left: 40%;
        background-size: contain;
        object-fit: cover;
        width: 200px;
        height: 200px;
    filter: drop-shadow(-3px -4px 4px #fba820);
    border-radius: 100%;
    }
}
  .nav-wrapper{
    background-color: #1a1a1a;
}
  @media screen and (min-width: 901px) {
    nav a.sidenav-trigger {
      display: none;
    }
    .right> li> a{
        font-size: 1.5rem;
            }
            .nav-wrapper{
                background-color: #3e3e3e;
                position: fixed;
            top: 0;
            left: 0 ;
            right: 0;
            z-index: 1;
            }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
